<div class="card container mt-4">
    <div class="card-body">
        <h2>Name : Omkar Patil</h2>
        <h3>Designation :Software Developer</h3>
    </div>
</div>

<div class="container mt-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="personal-details">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="addresses">Addresses</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
    <!-- <app-personal-details></app-personal-details>
    <app-addresses></app-addresses> -->
</div>


