<div class="container py-5">
    <div class="card mb-3 shadow-lg">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{product.img}}" class="img-fluid rounded-start" alt="Product Image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{product.name}} </h3>

            <span *ngIf="isAvailable" class="badge badge-primary bg-primary">Is available</span>

            <p class="card-text text-muted">{{product.description}}</p>
            <h4 class="text-primary">{{product.price}}</h4>
            <button class="btn btn-success mt-3">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>