<p>City : {{address.city}}  </p>
<p>State : {{address.state}}  </p>
<p>Country : {{address.country}}  </p>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Update
  </a>
  <button class="btn btn-danger" (click)="onDelete(address.id)">Delete</button>


  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form [formGroup]="addressForm" (ngSubmit)="onUpdate(address.id)">
            <div class="mb-3">
              <label for="city" class="form-label">City</label>
              <input id="city" type="text" formControlName="city" class="form-control" placeholder="Enter city">
            </div>
        
            <div class="mb-3">
              <label for="state" class="form-label">State</label>
              <input id="state" type="text" formControlName="state" class="form-control" placeholder="Enter state">
            </div>
        
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input id="country" type="text" formControlName="country" class="form-control" placeholder="Enter country">
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
            

          </form>
    </div>
  </div>